@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
    font-family: 'Oswald', sans-serif !important;
}

header, body, footer {
    background-color: #B54848;
    max-width: 1100px;
}

header {
    display: grid;
}

#higher_logo {
    margin-top: -85px;
    margin-left: 20px;
}

#lower_logo {
    font-style: italic;
    font-weight: lighter;
    margin-top: -30px;
    margin-left: 40px;
}

#elliot_zugler {
    position: absolute; text-align:center; font-weight:bold;
    width: 80px;
    margin-left: 180px;
    margin-top: 20px;
}
.contacts {
    margin-right: 0px;
}

div {
    background-color: transparent;
     max-width: 8em;
     min-height: 2em;
     margin-left: auto;
     margin-right: 10em;
     border: 1px solid orange;
      background: #fff5d7;
}

.in_header {
    background-color: white;
}

#contacts_div {
    background-color: #161616;
    width: 50%
}

.contacts {
    color: white;
}

#links_div {
    height: 55px;
    width: 200px;
    background-color: #161616;
    display: flex;
    justify-content: space-around;
    
}

#phone {
    margin-top: 5px;
    margin-left: 40px;
}

#email {
    margin-top: -15px;
    margin-left: 15px;
}

.links {
    width: 50px;
    height: 50px;
    margin-top: -10px;
}

#nikeblack {
    min-height: 100vh;
}

h2 {
    color: white;
    text-align: center;
}

.main_information {
    color: black;
}

.form {
    display: flex;
    justify-content: center;
}

.in_footer {
    color: white;
    text-align: center;
}

#container {
    background-color: #FFFFFF;
}

#brand {
    display: flex;
    justify-content: space-around;
}

#form {
    display: flex;
    justify-content: center;
}
